<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/img/weather.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="/css/styles.css"
      type="text/css"
      media="all"
    />
    <title>404</title>
  </head>
  <body>
          <div class="main-content">
          {{>header}}
    <h1 class="_404">در پی چیستی؟</h1>
    <p>{{errorMessage}}</p>
          </div>
    {{>footer}}
  </body>
</html>
